# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [77]:
# Passo a passo

#webdriver
#firefox - > geckodriver
#chrome - > chromedriver


# Passo 1: Abrir o navegador

# Passo 2: importar a base de dados

# Passo 3: para cada produto da base 

# Passo 4: pesquisar o preço do produto

# Passo 5: atualizar o preço na base

# Passo 6: comprar o produto ou não se o preço atual for menor do que o preço ideal

In [78]:
# Passo 1: Abrir o navegador

from selenium import webdriver #importa so a ferramenta ao invés da biblioteca inteira

navegador = webdriver.Chrome() #tem q ser com o C maiúsculo

In [79]:
# Passo 2: importar a base de dados

import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [80]:
# Passo 3: para cada produto da base 
# Passo 4: pesquisar o preço do produto
# Passo 5: atualizar o preço na base

#import unicodedata

#produto = unicodedata.normalize("NFKD", produto).encode("ascii", "ignore")

for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"] # O .loc localiza um elemento na tabela, e você deve passar a linha e a coluna, 
                                           # neste caso, como a variavel Linha se atualiza, só muda a linha
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace("ú", "u").replace(
    "ç", "c").replace("í", "i").replace("é", "e")

    link = f"https://www.melhorcambio.com/{produto}-hoje" #f permite acessar uma variável no meio de um texto, vem de formatar
    #o Upercase dá certo, mas simbolos UTF-8 n funcionam, acentos e etc, é necessário deixá-lo sem acento
    navegador.get(link)
    print(link)

    #o xpath acessa o id de um elemento do HTML, no caso, ele acessa o xpath em que o preço do minho está e faz um get para lá
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
    
display(tabela)
    


#.click() -> clica
#.send_keys("texto") -> escrever
#.get_attribute() -> pega um valor

#TOME CUIDADO COM OS SITES QUE VOCE FOR FAZER GET, NEM TODOS DEIXAM VOCE FAZER REQUISIÇÕES

Milho
https://www.melhorcambio.com/Milho-hoje
85.49
Soja
https://www.melhorcambio.com/Soja-hoje
162.64
Boi
https://www.melhorcambio.com/Boi-hoje
276.05
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
393.26
Algodão
https://www.melhorcambio.com/Algodao-hoje
498.88
Açúcar
https://www.melhorcambio.com/Acucar-hoje
134.64
Café
https://www.melhorcambio.com/Cafe-hoje
1087.87
Ouro
https://www.melhorcambio.com/Ouro-hoje
327.99
Trigo
https://www.melhorcambio.com/Trigo-hoje
1546.08
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.05

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49      NaN
1      Soja       163.59       162.64      NaN
2       Boi       282.20       276.05      NaN
3  Petróleo       424.37       393.26      NaN
4   Algodão       497.76       498.88      NaN
5    Açúcar       136.23       134.64      NaN
6      Café      1092.87      1087.87      NaN
7      Ouro       321.77       327.99      NaN
8     Trigo      1549.11      1546.08      NaN
9   Tilápia         9.05         9.05      NaN

In [81]:
#teste antigo de consulta GET

# Passo 3: para cada produto da base 

#for linha in tabela.index:
#    produto = tabela.loc[linha, "Produto"] # O .loc localiza um elemento na tabela, e você deve passar a linha e a coluna, 
                                           # neste caso, como a variavel Linha se atualiza, só muda a linha
#    print(produto)
#    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace("ú", "u").replace(
#    "ç", "c").replace("í", "i").replace("é", "e")

#    link = f"https://www.melhorcambio.com/{produto}-hoje" #f permite acessar uma variável no meio de um texto, vem de formatar
#    #o Upercase dá certo, mas simbolos UTF-8 n funcionam, acentos e etc, é necessário deixá-lo sem acento
#    navegador.get(link)
#    print(link)

#    #o xpath acessa o id de um elemento do HTML, no caso, ele acessa o xpath em que o preço do minho está e faz um get para lá
#    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
#    print(preco)

#.click() -> clica
#.send_keys("texto") -> escrever
#.get_attribute() -> pega um valor

In [82]:
# Passo 6: comprar o produto ou não se o preço atual for menor do que o preço ideal

tabela["Comprar"] = tabela["Preço Atual"] <= tabela["Preço Ideal"] #forma do pandas de deixar eficiente
display(tabela)

# Passo 7: exportar a base para o excel

tabela.to_excel("commodities_atualizado.xlsx", index="False")

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49    False
1      Soja       163.59       162.64     True
2       Boi       282.20       276.05     True
3  Petróleo       424.37       393.26     True
4   Algodão       497.76       498.88    False
5    Açúcar       136.23       134.64     True
6      Café      1092.87      1087.87     True
7      Ouro       321.77       327.99    False
8     Trigo      1549.11      1546.08     True
9   Tilápia         9.05         9.05     True

In [83]:
navegador.quit()